.lmode{
    background-color: white !important;
    color: black;
}
.dmode{
    background-color: black !important;
    color: white;
}
.gmode{
    background-color: rgb(80, 79, 79) !important;
    color: white;
}
.tbtoggle{
    border: 1px solid white;
    border-radius: 5px;
}
.textarea{
    border: 2px solid black !important;
}
.textareadark{
    
    border: 2px solid white !important;
    background-color: rgb(32, 32, 32);
    color: white;
}